.logo {
  margin-top: 30px;
}
mat-form-field {
  max-height: 70px;
  background-color: #fff;
  width: 300px;
  font-size: larger;
  /* padding-top: 10px; */
  padding-left: 30px;
  padding-right: 30px;
  margin: 5px;
  border-radius: 50px;
}
.row {
  width: 330px;
  text-align: start;
  margin-left: 75px;
}
a {
  color: #fff;
  font-size: medium;
}
.form {
  margin-top: 30px;
}

.button {
  margin-top: 30px;
  width: 300px;
  height: 60px;
  font-size: x-large;
  border-radius: 50px;
}
.button:disabled {
  background-color: #c5c5c5;
}
::ng-deep .mat-form-field-underline {
  display: none;
}
