.button {
  position: absolute;
  right: 0;
}
.footer {
  height: 100px;
}

.row {
  width: 100%;
  text-align: center;
  padding: 0;
}
mat-toolbar {
  height: 100%;
  background-color: #fff;
  width: 100%;
  padding: 0;

  box-shadow: -1px -1px 10px rgba(184, 184, 184, 0.568);
}

.footer .material-icons {
  transform: scale(1.5);
  margin: 5px;
}

.active-link {
  color: #a40a16;
}

.footer p {
  font-size: xx-small;
  width: 100%;
  overflow-wrap: break-word;
}
.col-3 {
  padding: 0;
}
