<button mat-mini-fab color="accent" (click)="logout()" class="button">
  <span class="material-icons"> logout </span>
</button>
<router-outlet da></router-outlet>
<section class="footer text-center" *ngIf="router.url != '/filtro'">
  <mat-toolbar>
    <div class="row">
      <div class="col-3" routerLink="/dashboard">
        <a routerLinkActive="active-link " class="icon inicio"> </a>
      </div>
      <div class="col-4" routerLink="/agenda">
        <a routerLinkActive="active-link" class="iconAgenda agenda"> </a>
      </div>
      <div class="col-2" routerLink="/contato">
        <a routerLinkActive="active-link" class="icon central"> </a>
      </div>
      <div class="col-3" routerLink="/perfil">
        <a routerLinkActive="active-link" class="icon perfilIcon"> </a>
      </div>
    </div>
  </mat-toolbar>
</section>
