.button {
  position: absolute;
  right: 0;
}
.footer {
  height: 100px;
}

.row {
  width: 100%;
  text-align: center;
  padding: 0;
}
mat-toolbar {
  height: 100%;
  background-color: #fff;
  width: 100%;
  padding: 0;

  box-shadow: -1px -1px 10px rgba(184, 184, 184, 0.568);
}

.footer .material-icons {
  transform: scale(1.5);
  margin: 5px;
}

.inicio {
  background-color: black;
  -webkit-mask: url("../../assets/inicio.svg") no-repeat center;
  mask: url("../../assets/inicio.svg") no-repeat center;
}

.agenda {
  background-color: black;
  -webkit-mask: url("../../assets/agenda.svg") no-repeat center;
  mask: url("../../assets/agenda.svg") no-repeat center;
}
.central {
  background-color: black;
  -webkit-mask: url("../../assets/central.svg") no-repeat center;
  mask: url("../../assets/central.svg") no-repeat center;
}
.perfilIcon {
  background-color: black;
  -webkit-mask: url("../../assets/perfil.svg") no-repeat center;
  mask: url("../../assets/perfil.svg") no-repeat center;
}
.iconAgenda {
  width: 120px;
  height: 50px;
}
.icon {
  width: 60px;
  height: 50px;
}

.active-link {
  background-color: #a40a16;
}
.footer p {
  font-size: xx-small;
  width: 100%;
  overflow-wrap: break-word;
}
.col-3,
.col-4,
.col-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p,
a {
  line-height: 15px;
  padding: 0;
}
