.logo-fundo {
  position: fixed;
  right: -65px;
  top: -40px;
}
.row {
  width: 100%;
  margin-bottom: 15px;
}
a {
  color: #fff;
}
.weidth {
  font-weight: 510;
}
.footer {
  display: flex;
  align-items: flex-end;
  width: 100%;
  position: absolute;
  bottom: 58px;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
}
