.logo-fundo {
  position: fixed;
  right: -65px;
  top: -40px;
}
.row {
  width: 100%;
  margin-bottom: 15px;
}
a {
  color: #fff;
}
.footer {
  display: flex;
  align-items: flex-end;
  height: 100px;
  padding-top: 30px;
  width: 100%;
  position: fixed;
  bottom: 15px;
}
